<h1>Listing boards</h1>

<table>
  <tr>
    <th>Admin</th>
    <th>Posted at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @boards.each do |board| %>
  <tr>
    <td><%= board.user.email if board.user %></td>
    <td><%= board.fmt_date %></td>
  </tr><tr>
    <td colspan=2>
      <div class="board-text">
	<%= board.text %>
      </div>
    </td>
  </tr>
<% if can? :update, board -%>
  <tr>
    <td><span><%= link_to 'Show', board %></span>
    <span><%= link_to 'Edit', edit_board_path(board) %></span>
    <span><%= link_to 'Delete', board, :confirm => 'Are you sure?', :method => :delete %></span></td>
  </tr>
<% end -%>
  <tr>
    <td colspan=2>&nbsp;<td>
  </tr>
<% end %>
</table>

<br />

<div><%= link_to 'New Post', new_board_path %></div>
<div><%= link_to 'Home', sign_in_caseworkers_path %></div>
