<h1>The Recyclery - Caseworker's Portal</h1>


<% if user_signed_in? && current_user.is_admin? -%>
<!-- Admin sees this -->
You have <%= Client.count_new(current_user.last_sign_in_at) %> new client applications.  <%#link_to "See client applications", :controller => :clients, :view => :recent %> <%=link_to "See client applications", recent_clients_path %>
<div><%= link_to "Show caseworkers", caseworkers_path %></div>
<% if false -%><div><%= link_to "Add a new caseworker", new_client_path %></div><% end -%>
<% elsif user_signed_in? && current_user.caseworker.name -%>
<!-- Caseworker sees this -->
<br />
<div><%= link_to "Show client applications", clients_path %></div>
<%   if current_user.caseworker.can_add_clients? -%>
<div><%= link_to "Add a new client", new_client_path %></div>
<%   end -%>
<br />
<div><%= link_to "Edit your details", edit_caseworker_path(current_user.caseworker) %></div>
<% elsif user_signed_in? -%>
<!-- Caseworker sees this first time -->
<div><%= link_to "Add your details", edit_caseworker_path(current_user.caseworker) %></div>
<% end -%>
